<div class="container-fluid bg-offer my-5 py-3">
   
    <div class="container" >
        <h1 class="display-5 text-uppercase text- mb-0" >Support a cause you care about!</h1>
     
    </div>
 
</div>
<div class="d-grid gap-2 col-6 mx-auto mb-5">
    <button class="btn btn-white btn-lg" style="background-color: #7AB730;" (click)="open(myModal)">donate now!</button>
</div>
<ng-template #myModal class="modal" let-m1>
    <div class="modal-dialog">
      <div class="modal-content p-3" style="width: 750px;">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title  fw-bold">Payment</h3>
          <button type="button " class="btn-close ml-auto" 
          (click)="m1.close()"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form [formGroup]="donateForm">
                <div class="row py-3">
                    <div class="form-group col-5">
                        <label for="Amount" class="fw-bold text-lead"><h5>Amount to be Donated</h5></label>
                    </div>
                    <div class="form-group col-6">
                        <input type="number" id="Amount" class="form-control" formControlName="Amount">
                    </div>
                </div>
                <div class="row py-3">
                    <div class="form-group col-5">
                        <label for="slug" class="fw-bold text-lead"><h5>Mention Slug</h5></label>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" id="slug" class="form-control" formControlName="slug">
                    </div>
                </div>
             
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn text-dark" style="background-color:#7AB730;" (click)="submitDonate(m1)" >Submit</button>
                    <button type="submit" class="btn btn-danger" (click)="m1.close()">Close</button>
                </div>
               
            </form>
        </div>
  
  
      </div>
    </div>
</ng-template>
