
<div class="container" style="margin-top: 65px;">
    <div class="row">
        <div class="col-6" style="padding-top: 60px;">
            <figure><img src="assets/images/signup-image.jpg" alt="sign up image"></figure>
                    
        </div>
        <div class="col-6">
            <h2 class="form-title">Sign Up </h2>
            <form [formGroup]="registerUser">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="userName" formControlName="userName">
                  <label for="userName">UserName</label>
                </div>
              <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="email"  formControlName="email">
                  <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="contact" formControlName="contact">
                  <label for="contact">Phone Number</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="password"  formControlName="password">
                  <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="password" formControlName="confirmPassword">
                  <label for="password">Confirm Password</label>
                </div>
                <div style="padding-top: 40px;">
                  <button type="submit" class="btn btn-dark" style="height: 45px;width: 105px;" (click)="validUsername()" [disabled]="this.registerUser.status === 'INVALID'">Register</button>
                </div>

            </form>
        </div>
    </div>
</div>
